body{ background-color:#E3E88A;font-weight: 700; overflow: hidden;}

.homepage{
  font-family: 'Chivo', sans-serif;
  font-size:3.2vw;
  position:absolute;
  color:white;
  right:1vw;
  bottom:0px;
}

.homepage-out{
  width:20vw;
  height:10vh;
  position:absolute;
  top:-2vh;
  left:-2vw;
  border:solid white 0.5vw;
  z-index:111;
}
.homepage-out:hover{
background-color:#D3DA4C;}

.list{ width:95vw;
  height:72vh;
  position:absolute;
  bottom:8vh;
  right:-2vw;
  border:solid white 0.5vw;
  z-index:10;
  padding-bottom: 20vh;
  overflow: hidden;
}

.introduce{
  width:67vw;
  height:36vh;
  position:absolute;
  bottom:-2vh;
  left:35vw;
  border:solid white 0.5vw;
  z-index:10;
}

.date{
font-weight: 700;
font-size:1.4vw;
}

.text{
    width:58vw;
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size:1.2vw;
    line-height: 30px;
    position: absolute;
    left:2vw;
    top:2vh;
    color:white;
}

.project{
    width:40vw;
    font-family: 'Chivo', sans-serif;
    font-size:1.6vw;
    text-decoration: none;
    position: relative;
    color:white;
    left:10vw;
    top:20vh;
    line-height: 40px;
}
a{text-decoration: none;}

.project-type{
  left:8vw;
  font-size:2vw;
}
/*.project-type1{top:20vh;}*/
/*
.project-type2{top:20vh;}
.project1{top:20vh;}
.project2{top:28vh;}
.project3{top:36vh;}
.project4{top:44vh;}
.project5{top:52vh;}*/


.project1:hover{color:black;cursor: pointer;}
.project2:hover{color:black;cursor: pointer;}
.project3:hover{color:black;cursor: pointer;}
.project4:hover{color:black;cursor: pointer;}
.project5:hover{color:black;cursor: pointer;}
.project6:hover{color:black;cursor: pointer;}
.project7:hover{color:black;cursor: pointer;}







