
.page-mouse-tail {
  position: fixed;
  float: left;
  width: 10vw;
  /* for demo */
  height: 10vw;
  border-radius: 100%;
  box-shadow: 0 0 0px 9999px black;
  z-index: 11111;
}

.on{
   height: 25vh;
  width:1vw;
  position: absolute;
  right: 3vw;
    cursor: pointer;
}
.lead{
  font-family: 'Do Hyeon', sans-serif;
  font-size:1vw;
  color:black;
  background-color: none;
  position: absolute;
  right: 4.5vw;
  top:23vh;
}
.open1{
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: 0vw;
z-index:100;
}
.open1:hover{left: -5vw;}
.open2:hover{right: -5vw;}

.open2{
  height: 100vh;
  width: 50vw;
  position: absolute;
  right: 0;
z-index:100;
}

.welcome{
  font-family: 'Do Hyeon', sans-serif;
  font-size:3vw;
  color:black;
background-color: none;
}


.doll{position:absolute;
  width:12vw; 
  height:12vw;  
  margin-top:20vh;
}

.dolla{left:6vw;}
.dollb{left:19vw;}
.dollc{left:32vw;}
.dolld{left:45vw;}
.dolle{left:58vw;}
.dollf{left:71vw;}
.dolli{left:84vw;}

.doll1{
  width:12vw;
  height:12vw;
  background-size:12vw 12vw;
  background-image: url('../img/1a.png');
}


.doll2{  
  width:12vw;
  height:12vw;
  background-size:12vw 12vw;
  background-image: url('../img/2a.png');

}


.doll3{
  width:12vw;
  height:12vw;
  background-size:12vw 12vw;
background-image: url('../img/3a.png');
}

.doll4{
  width:12vw;
  height:12vw;
  background-size:12vw 12vw;
background-image: url('../img/4a.png');
}



.doll5{  
  width:12vw;
  height:12vw;
  background-size:12vw 12vw;
background-image: url('../img/5a.png');
}

.doll6{  
    width:12vw;
  height:12vw;
  background-size:12vw 12vw;
background-image: url('../img/6a.png');

}



.doll7{
    width:12vw;
  height:12vw;
  background-size:12vw 12vw;
background-image: url('../img/7a.png');

}



.ondolla {
  z-index:11111;
  background-size:12vw 12vw;
   animation-name: doll1;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.ondollb{
  z-index:11111;
  background-size:12vw 12vw;
   animation-name: doll2;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.ondollc {
  z-index:11111;
  background-size:12vw 12vw;
   animation-name: doll3;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.ondolld {
  z-index:11111;
background-size:12vw 12vw;
   animation-name: doll4;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.ondolle {
  z-index:11111;
  background-size:12vw 12vw;
   animation-name: doll5;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.ondollf {
  z-index:11111;
  background-size:12vw 12vw;
   animation-name: doll6;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.ondolli {
  z-index:11111;
  background-size:12vw 12vw;
   animation-name: doll7;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes doll1{0%{background-image: url('../img/1a.png');}
100%{background-image: url('../img/1-1.png');}}
@keyframes doll2{0%{background-image: url('../img/2a.png');}
100%{background-image: url('../img/1-2.png');}}
@keyframes doll3{0%{background-image: url('../img/3a.png');}
100%{background-image: url('../img/1-3.png');}}
@keyframes doll4{0%{background-image: url('../img/4a.png');}
100%{background-image: url('../img/1-4.png');}}
@keyframes doll5{0%{background-image: url('../img/5a.png');}
100%{background-image: url('../img/1-5.png');}}
@keyframes doll6{0%{background-image: url('../img/6a.png');}
100%{background-image: url('../img/1-6.png');}}
@keyframes doll7{0%{background-image: url('../img/7a.png');}
100%{background-image: url('../img/1-7.png');}}


.hide{opacity:0;}
