body{background-color:#FFF4F4;}
*{margin:0;}

.space{width:28vw;
height:22vh;
z-index:1111;
position:absolute;
left:34vw;
  top:46vh;
  border:solid white 0.5vw;
}
.arthover{
  width:36.5vw;
height:26vh;
z-index:1111;
position:absolute;
left:62.5vw;
top:19vh;
border:solid white 0.5vw;
}
.arthover:hover{
background-color:#FFD4D4;}
.hovercolor{background-color:#FFD4D4;}

.name{
  font-family: 'Chivo', sans-serif;
  font-size:3.2vw;
  position:absolute;
  color:white;
  left:16.5vw;
  bottom:0px;
}

.name-out{
  width:36.5vw;
  height:20vh;
  position:absolute;
  top:-2vh;
  left:62.5vw;
  border:solid white 0.5vw;
  background-color:#FFF4F4;
  z-index:10;
}
.name-out:hover{
background-color:#FFD4D4;}

.research{
  font-family: 'Chivo', sans-serif;
  font-size:3vw;
  position:absolute;
  color:white;
  left:4vw;
  bottom:0px;
}

.research-out{
 width:19.5vw;
  height:20vh;
 position:absolute;
  top:-2vh;
  left:48vw;
  border:solid white 0.5vw;
  z-index:10;
   background-color:#FFF4F4;
}
.research-out:hover{
background-color:#FFD4D4;}

.web{
  font-family: 'Chivo', sans-serif;
  font-size:3vw;
  position:absolute;
  color:white;
  top:40vh;
  left:35vw;
}

.web-out{
 width:63vw;
 height:70vh;
 position:absolute;
  left:-1vw;
  top:-2vh;
  border:solid white 0.5vw;
   background-color:#FFF4F4;
  z-index:5;
}
.web-out:hover{
background-color:#FFD4D4;
z-index:-999;}

.graphic{
  font-family: 'Chivo', sans-serif;
  font-size:3vw;
  position:absolute;
  color:white;
  right:2vw;
}

.graphic-out{
 width:65vw;
 height:53vh;
 position:absolute;
  left:34vw;
  top:46vh;
  border:solid white 0.5vw;
  background-color:#FFF4F4;
  z-index:5;
}
.graphic-out:hover{
background-color:#FFD4D4;
z-index:-999;}


.art{
  font-family: 'Chivo', sans-serif;
  font-size:3vw;
  position:absolute;
  color:white;
  left:20.5vw;
  top:1.5vh;
}

.art-out{
 width:33.5vw;
 height:30vh;
 position:absolute;
  top:69vh;
  border:solid white 0.5vw;
z-index:-999;
}
.art-out:hover{
background-color:#FFD4D4;
z-index:-10;}