body{ background-color:#B2D8E4;font-weight: 700;overflow: hidden;}
.homepage{
  font-family: 'Chivo', sans-serif;
  font-size:3.2vw;
  position:absolute;
  color:white;
  right:1vw;
  bottom:0px;
}

.homepage-out{
  width:20vw;
  height:20vh;
  position:absolute;
  top:-2vh;
  left:-2vw;
  border:solid white 0.5vw;
  z-index:10;
}
.homepage-out:hover{
background-color:#B7EDFF;}

.main{ width:93vw;
  height:88vh;
  position:absolute;
  top:10vh;
  left:7vw;
  border:solid white 0.5vw;
  overflow: hidden;
}
.introduction{
	width:40vw;
	font-family: 'Chivo', sans-serif;
  	font-size:1vw;
    font-weight: 300;
  	line-height: 25px;
  	position:absolute;
  	color:white;
  	text-align: left;
  	top:15vh;
  	left:9vw;
}
.name{
  font-size:2.4vw;
  font-weight: 700;
  line-height: 15vh;
}

.school{
  font-weight: 400;
  font-size: 1.4vw;
    line-height: 40px;
}

.resume{
  padding: 0;
  background:transparent;
 width:8vw;
  outline:none;
 font-family: 'Chivo', sans-serif;
  font-size:1vw;
  line-height: 40px;
  color:white;
  text-align: center;
  position: absolute;
  left:9vw;
  top:60vh;
  border: none;
  border: 0.2vw solid white;



}

.resume:hover{color:black; cursor: pointer;border-color: black;}

.EN{
	background:none;
  width:4vw;
  font-family: 'Chivo', sans-serif;
  font-size:1vw;
  line-height: 40px;
  color:white;
  text-align: center;
  border-color: white;
  border-width: 0.2vw;
  position: absolute;
  left:9vw;
  top:52vh;
}

.CN{background:none;
  width:4vw;
  font-family: 'Chivo', sans-serif;
  font-size:1vw;
  line-height: 40px;
  color:white;
  text-align: center;
  border-color: white;
  border-width: 0.2vw;
  position: absolute;
  left:14.2vw;
  top:52vh;}


.EN:hover{color:black; cursor: pointer;border-color: black;}
.CN:hover{color:black; cursor: pointer;border-color: black;}

a{text-decoration-line: none;
color: white;}


.hide{display:none;}




